body {
  background-image: url(../images/bg.jpg)  
}

.heading {
  color: #EEE;
  box-shadow: 0 1px 8px black;
}

.lightheading {
  color: #EEE;
}

.masthead {
  background: url(../images/headerbg.jpg);
  /*position: fixed;*/
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  box-shadow: 0 1px 8px black;
  margin-bottom: 50px;
}

.blur {
  -webkit-filter: blur(5px);
}

.unblur {
  -webkit-filter: none;
}

.logo {
    width: 50%;
    font-family: "Pacifico";
    margin-top: 10px;
}

.thumbnail {
  font-size: 2em;
}

.imghuge {
  font-size: 2.5vw;
}

.imgbig {
  font-size: 2vw;
}

.imgsmall {
  font-size: 1.5vw;
}

.icon {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-top: 10%;
  width: 30%;
  height: 30%; 
}


