body {
  background-image: url(../images/bg.jpg)
}
.masthead {
  background: url(../images/headerbg.jpg);
  /*position: fixed;*/
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  box-shadow: 0 1px 8px black;
  margin-bottom: 50px;

}
.blur {
  -webkit-filter: blur(5px);
}
.unblur {
  -webkit-filter: none;
}

.logo {
    color: #EEE;
    font-family: "Pacifico";
}

.thumbnail {
  font-size: 2em;
}

.caption {
  font-size: 2rem;
}

.icon {
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  height: 30%; 
}


