 <div class="masthead clearfix">
  <div class="container">
    <!-- Logo -->
    <ul class = "nav-justified" >
      <li >
        <h1 class="logo">PikzArena</h1>        
      </li>
      <li>
       <div></div>
      </li>
      <li>
       <div></div>
      </li>  
      <li>        
          <button onclick="window.location.href='oauth/disconnect'" class="btn btn-primary"  ><b>Log Out</b></button>       
      </li>      
    </ul>
  </div>
</div>

<!-- Dummy image -->
<% @image =
    '<div  >
      <div class = "thumbnail center-block" >          
          <img class="img-responsive " src="images/instagram-logo.jpg" alt="Card image cap">        
          <div class="caption" id="caption-half-up">
            <p>
              <a href ="" class ="btn-primary" > 
                <img src = "images/heart.png" class = "icon"></img>
              </a>
            </p>
          </div>
            <div class="caption" id="caption-half-down">
            <p>
              <a href ="" class ="btn-primary">                 
                <img src = "images/fist.png" class = "icon"></img> 
              </a>
            </p         
          </div>
        
      </div>
    </div>' %>

<div class ="container">
  <div class = "row "><!-- #large category images only -->
    <%= @image %>
    <%= @image %>
    <%= @image %>
  </div>
</div>
