<div class="masthead clearfix">
      
    <div class="container">
      
      <div class="logo pull-left">PikzArena</div>
      
      <div class="socials pull-right">
        <a href=""><i class="icon-twitter"></i></a> <!-- your twitter link -->
        <a href=""><i class="icon-facebook"></i></a> <!-- your facebook link -->
        <a href=""><i class="icon-linkedin"></i></a> <!-- your linkedin link -->
        <a href=""><i class="icon-pinterest"></i></a> <!-- your pinterest link -->
        <a href=""><i class="icon-envelope"></i></a> <!-- your email address -->
      </div>
      
    </div>
    
</div>
<div class ="container">
  <div class="col-md-2">
    <div class = "thumbnail">
      <img src="https://scontent.cdninstagram.com/t51.2885-19/11809553_970068183035932_291188876_a.jpg">    
      <div class="caption" id="caption-half-up">
        <p>
          <a href="#" class="btn btn-primary" role="button" data-toggle = "modal" data-target = "#myModal">
            Top This!
          </a>
        </p>
      </div>
       <div class="caption" id="caption-half-down">
        <p>
          <a href="#" class="btn btn-primary" role="button" data-toggle = "modal" data-target = "#myModal">
            Vote for this!
          </a>
        </p>
      </div>
    </div>
    <div class = "thumbnail">
      <img src="https://scontent.cdninstagram.com/t51.2885-19/11809553_970068183035932_291188876_a.jpg">    
      <div class="caption" id="caption-half-up">
        <p>
          <a href="#" class="btn btn-primary" role="button" data-toggle = "modal" data-target = "#myModal">
            Top This!
          </a>
        </p>
      </div>
       <div class="caption" id="caption-half-down">
        <p>
          <a href="#" class="btn btn-primary" role="button" data-toggle = "modal" data-target = "#myModal">
            Vote for this!
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>          
        </div>
        <div class = "container">
          <%if true %>
            <a class="btn btn-primary" role="button" href = "/oauth/connect" >Login to your Instagram to beat the image or vote for it!</a> 
          <%end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>      
    </div>
</div>