<div class="masthead clearfix">
  <div class="container">
    <!-- Logo -->
    <div class="logo pull-left">
      <h1>PikzArena</h1>
    </div>

    <ul class="nav navbar-nav pull-right">
      <li class="dropdown">
        <% if session[:access_token] == nil %>
          <a href="oauth/connect"><b>Connect with Instagram</b></a>
        <% else %>
          <a href="oauth/disconnect"><b>Log Out</b></a>
        <% end %>
      </li>
      <li>
        <form class="navbar-form" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Look for a tag...">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
      </li>
    </ul>
  </div>
</div> <!-- mastheadflix -->

<!-- image with hover captions -->
<% @image =
    '<div class = "thumbnail" >
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="caption" id="caption-half-up">
          <p>
            <a href="#" class="btn btn-primary" role="button" data-toggle = "modal" data-target = "#myModal">
              Top This!
            </a>
          </p>
        </div>
         <div class="caption" id="caption-half-down">
          <p>
            <a href="#" class="btn btn-primary" role="button" data-toggle = "modal" data-target = "#myModal">
              Vote for this!
            </a>
          </p>
        </div>
     </div>' %>

<div class="container">

<!-- User dashboard when logged in -->
<% if session[:access_token] != nil %>
<button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Hide User Dash
</button>
<div class="collapse" id="collapseExample">
  <div class="well card">
    <img src='<%= @client.user.profile_picture %>' />
    <h4 class="card-title"><%= @client.user.username %></h4>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
<% end %>

</div>

<!-- This div is login/vote pop up -->
<div class="modal fade" id="myModal" role="dialog" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <div class = "container">
          <%if true %>
            <a class="btn btn-primary" role="button" href = "/oauth/connect" >Login to your Instagram to beat the image or vote for it!</a>
          <%end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
